<!-- templates/yourappname/login.html -->
{% extends 'base.html' %}

{% block content %}
<body class="login-page" style="min-height: 464px;">
    <div class="login-box">
    
    <div class="card card-outline card-primary">
    <div class="card-header text-center">
    <a href="{% url 'home' %}" class="h1"><b>AHMADIYYA MUSLIM JAMA'AT</a>
    </div>
    <div class="card-body">
    <p class="login-box-msg">User Sign In</Inp></p>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="input-group mb-3">
      <input type="email" class="form-control" placeholder="email" name="email">
    <div class="input-group-append">
    <div class="input-group-text">
    <span class="fas fa-envelope"></span>
    </div>
    </div>
    </div>
    <div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="Password" name="password">
    <div class="input-group-append">
    <div class="input-group-text">
    <span class="fas fa-lock"></span>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-8">
    <div class="icheck-primary">
    <input type="checkbox" id="remember">
    <label for="remember">
    Remember Me
    </label>
    </div>
    </div>
    
    <div class="col-4">
    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
    </div>

    
    </div>
    
    </div>
  
    </div>
    <style>
        .login-box {
          margin: auto;
                width: 50%;
                padding: 10px;
        }
      </style> 
    </body>
{% endblock %}

