<!-- templates/yourappname/signup.html -->
{% extends 'base.html' %}

{% block content %}
  <body class="register-page" style="min-height: 540px;">
  <div class="card card-outline card-primary">
  <div class="card-header text-center">
  <a href="{% url 'home' %}" class="h1"><b>AHMADIYYA MUSLIM JAMA'AT</a>
  </div>
  <div class="card-body">
  <p class="login-box-msg">User Registration</p>
  <form method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Full name" name="name">
  <div class="input-group-append">
  <div class="input-group-text">
  <span class="fas fa-user"></span>
  </div>
  </div>
  </div>
  <div class="input-group mb-3">
  <input type="email" class="form-control" placeholder="Email" name="email">
  <div class="input-group-append">
  <div class="input-group-text">
  <span class="fas fa-envelope"></span>
  </div>
  </div>
  </div>
  <div class="input-group mb-3">
  <input type="password" class="form-control" placeholder="Password" name="password">
  <div class="input-group-append">
  <div class="input-group-text">
  <span class="fas fa-lock"></span>
  </div>
  </div>
  </div>
  <div class="input-group mb-3">
  <input type="password" class="form-control" placeholder="Retype password" name="retype_password">
  <div class="input-group-append">
  <div class="input-group-text">
  <span class="fas fa-lock"></span>
  </div>
  </div>
  </div>
    <div class="card card-danger">
    <div class="card-header">
    <h3 class="card-title"></h3>
    </div>
    <div class="card-body">
      
    
    <div class="form-group">
    <label>Date:</label>
    <div class="input-group">
    <div class="input-group-prepend">
    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
    </div>
    <input type="date" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" name="date">
    </div>
    
    </div>
    
    </div>
    
    
    <div class="form-group">
    <label>MRU phone Number:</label>
    <div class="input-group">
    <div class="input-group-prepend">
    <span class="input-group-text"><i class="fas fa-phone"></i></span>
    </div>
    <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" inputmode="text" name="mru_phone_number">
    </div>
    
    </div>
   <div class="form-group">
    <label>Sex</label>
    <select class="form-control" name="sex">
    <option>Male</option>
    <option>Female</option>
    </select>
    </div>
  <div class="row">
  <div class="col-8">
  <div class="icheck-primary">
  <input type="checkbox" id="agreeTerms" name="terms" value="agree">
  <label for="agreeTerms">
  I agree to the <a href="#">terms</a>
  </label>
  </div>
  </div>
  </div>
  </form>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  <a href="{% url 'login' %}" class="text-center">I already have a membership</a>
  </div>
  
  </div>
  </div>
  <style>
    .card-body {
      margin: auto;
            width: 50%;
            padding: 10px;
    }
  </style>  
  </body>
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
    </form>
{% endblock %}